{
  "extends": ["stylelint-config-recommended-scss"],
  "plugins": ["stylelint-order"],
  "rules": {
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "selector-max-id": 0,
    "selector-no-qualifying-type": [true, { "ignore": ["attribute"] }],
    "color-hex-length": "short",
    "block-no-empty": true,
    "no-duplicate-selectors": true,
    "max-nesting-depth": 3,
    "scss/at-extend-no-missing-placeholder": true,
    "scss/dollar-variable-pattern": "^([a-z]+-?)+$",
    "scss/selector-no-redundant-nesting-selector": true,
    "order/properties-order": [
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "grid-template-columns",
      "grid-template-rows",
      "grid-template-areas",
      "grid-template",
      "grid-column-gap",
      "grid-row-gap",
      "gap",
      "justify-items",
      "align-items",
      "place-items",
      "justify-content",
      "align-content",
      "place-content",
      "grid-auto-columns",
      "grid-auto-rows",
      "grid-auto-flow",
      "grid-area",
      "grid-column-start",
      "grid-column-end",
      "grid-column",
      "grid-row-start",
      "grid-row-end",
      "grid-row",
      "flex-direction",
      "flex-wrap",
      "width",
      "height",
      "margin",
      "padding",
      "border",
      "box-sizing",
      "font-family",
      "font-size",
      "font-weight",
      "line-height",
      "text-align",
      "color",
      "background",
      "background-color",
      "background-image",
      "opacity",
      "transition",
      "transform",
      "animation"
    ],
    "order/properties-alphabetical-order": null
  }
}
