<header class="header">
    <h1 class="header__title">
        <a href="index.html" class="title__link">
            <img class="link__image" src="./assets/images/logo_cybersec.webp" alt="CyberSec Jornada" />
        </a>
    </h1>
    <nav class="header__nav dropdown">
        <button class="nav__button btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-bars"></i>
        </button>
        <ul id="menu" class="dropdown-menu nav__list--inline">
            <li class="list__item dropdown-item"><a class="item__link" href="speakers.html">Ponentes</a></li>
            <li class="list__item dropdown-item"><a class="item__link" href="competition.html">Concurso</a></li>
            <li class="list__item dropdown-item"><a class="item__link" href="challenge.html">Reto</a></li>
        </ul>
    </nav>
</header>